@font-face {
  font-family: Montserrat-Light;
  src: url('../fonts/montserrat/Montserrat-ExtraLight.otf'); 
}


@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Regular.otf'); 
}

body{
	font-family: Montserrat-Light;
  background-image : url('../Image/bg_1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/*Iki Kotak dan isinya */
.section
{
    
    text-align: center;
    font-size: large;
    letter-spacing: 0.75px;
    color: white;
    padding-top: 10%;
    padding-bottom: 50px;
}

#logomage{
    padding-top: 50px;    
    width: 320px;
}



.form-judul{
  font-family: Montserrat-Bold;
  font-size: 34px;
  color: white;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
    
}


.form-masukan {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.masukan {
  font-family: Montserrat-Light;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
  outline: none;
  border: none;    
}

.symbol-masukan {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #241151;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.masukan:focus + .symbol-masukan {
  color: #82247f;
  padding-left: 30px;
}

.btn-selengkap
{
	height: 50px;
    border-radius: 25px;
    border: none;
    width: 100%;
    font-weight: 700;
}

.btn-selengkap:hover
{
    cursor: pointer;
	transform: scale(1.05 );
}

/*Masnya lupa Password ?*/
.txt-error {
  font-family: Montserrat-Light;
  font-size: 14px;
  line-height: 2.5;
  color: #ff0d00;
}

.txt1 {
  font-family: Montserrat-Light;
  font-size: 14px;
  line-height: 2.2;
  color: white;
}

.txt2 {
  font-family: Montserrat-Light;
  font-size: 15px;
  line-height: 2.2;
  color: #00c5a2;
}

/*Tulisan maaf anda salah memasukkan */

.txt2:hover {
	
	font-family: Montserrat-Bold;
  color: white;
}


@media (max-width: 768px) /*Small*/
{
    .isi-box{
    margin-top: 20%;
    }
    .section
    {  
      padding-top: 20px;
    }    
    #logo-login
    {
      display: none;
    }
}